
To complete the first knowledge check, do the following:
Create a GitHub repo called "data_1_checks". You will upload ALL knowledge checks to this repo in the future.Send that link to your mentor so they can check it when you finish the assignment.Make a .py (or .ipynb) file that contains the following (your choice of editor does not matter!) and do the following:
Pull in data from an API. Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/

+Find and print TWO descriptive statistics about your data. This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

+Write a query in Pandas to select a particular set of your data. You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

+Select and print the SECOND AND THIRD columns of your data frame. 

+Select and print the FIRST 4 rows of you data frame.

Commit your changes.Push your changes to your repo and notify your mentor!

This project will test your knowledge of pulling in data from an API then doing some quick manipulation and calculation using pandas.

In [6]:
import requests
import json
import pandas as pd

In [7]:
API = requests.get('https://datausa.io/api/data?drilldowns=Nation&measures=Population')

In [8]:
data = API.text

In [9]:
json = json.loads(data)

In [10]:
df = pd.DataFrame(json["data"])

In [11]:
print(df)

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states
5   01000US  United States     2015  2015   316515021  united-states
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

In [19]:
df.head(50)

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states
5   01000US  United States     2015  2015   316515021  united-states
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

In [35]:
# total = df.groupby['Population'].sum()
# print(total)

# df.groupby(by=["Year"])["Population"].min()

print("The population total is :", df['Population'].sum())
print("The population mean is :", df['Population'].mean())

The population total is : 2555891401
The population mean is : 319486425.125

In [37]:
print(df.query('Population > 321004407'))

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states

Select and print the SECOND AND THIRD columns of your data frame. 
Assumnig its column 2 and 3 as in counting positions 0, 1, 2, 3, 4....

In [62]:
df[df.columns[2:4]]

   ID Year  Year
0     2020  2020
1     2019  2019
2     2018  2018
3     2017  2017
4     2016  2016
5     2015  2015
6     2014  2014
7     2013  2013

In [77]:
row = df.iloc[0:4] 
print(row)

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states

In [74]:
prows = df.loc[0:3]
print(prows)

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states